<h1>Mask Permissions</h1>
<style>
    .mp-button {
        display: inline-block;
        margin-left: 20px;
    }

    .mb {
        margin-bottom: 18px;
    }

    .pull-right {
        float:right;
    }
</style>
<f:flashMessages/>
<f:if condition="{canUpdate}">
    <f:then>
        <f:link.action action="update" class="btn btn-success mb">Grant permissions to all</f:link.action>
    </f:then>
    <f:else>
        <f:be.infobox message="Everything up to date."/>
    </f:else>
</f:if>
<ul class="list-group">
    <f:for each="{groups}" as="group">
        <li class="list-group-item">
            <span>[{group.uid}] {group.title}</span>
            <f:if condition="{updatesNeeded.{group.uid}}">
                <f:then>
                    <f:link.action action="update" arguments="{group: group}" class="btn btn-sm btn-xs btn-primary mp-button">Grant permissions</f:link.action>
                    <span class="badge badge-warning pull-right">Missing permissions</span>
                </f:then>
                <f:else>
                    <span class="badge badge-success pull-right">Up to date</span>
                </f:else>
            </f:if>
        </li>
    </f:for>
</ul>
